@page{
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
  
}

body{
margin: 0cm 0cm 0cm;
background-color: white;

font-family: Arial, Helvetica, sans-serif;
font-size: 14px;


}


/* header{
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1cm;
    background-color: #242eb8;
    color: white;
    text-align: center;
    line-height: 30px;
} */
 /* header{
    position: fixed;
    top: 10px;
    left: 0px;
    right: 0px;
    height: 100px;
}  */

table{
    width: 100%;
    border: 1px solid black;
   
}
td {
    text-align: center;
    border: 1px solid black;
    
}
th {
    background-color: #221a96;
    color: white;
    text-align: center;
    border: 1px solid black;
}
.page-break {
    page-break-after: always;
}

